POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/groceries
SECRET_KEY=your_secret_key
ENV_MODE=development
JWT_EXPIRE_MINUTES=30
SMS_PROVIDER=none   # (например: twilio, none)
SMS_LOGIN=your_sms_login
SMS_API_KEY=your_sms_api_key
